<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <title>some website</title>
  </head>
  <body>
    {{> header}}
    <p>project page text goes here</p>
    {{> footer}}
  </body>
</HTML>
